import org.gradle.api.tasks.testing.logging.TestLogEvent.FAILED
import org.gradle.api.tasks.testing.logging.TestLogEvent.PASSED
import org.gradle.api.tasks.testing.logging.TestLogEvent.SKIPPED
import org.jetbrains.kotlin.gradle.dsl.JvmTarget

plugins {
    // Apply the Kotlin JVM plugin to add support for Kotlin.
    kotlin(libs.versions.jvm.get()) version libs.versions.kotlin.get()

    // Apply the application plugin to add support for building a CLI application.
    application

    // Apply the idea plugin
    idea

    // spotless
    alias(libs.plugins.spotless)

    // versions
    alias(libs.plugins.versions)
}

repositories {
    maven("https://jitpack.io")
    mavenCentral()
}

dependencies {
    // Align versions of all Kotlin components
    implementation(platform(libs.kotlin.bom))

    implementation(libs.kotlin.stdlib)

    // Use the Kotlin JUnit integration.
    testImplementation(libs.kotlin.test.junit)

{{#deps}}
    {{{.}}}
{{/deps}}
}

group = "{{groupId}}"
version = "0.0.1-SNAPSHOT"

kotlin {
    jvmToolchain(21)
}

tasks {

    compileKotlin {
        compilerOptions {
            jvmTarget = JvmTarget.JVM_21
        }
    }

    compileTestKotlin {
        compilerOptions {
            jvmTarget = JvmTarget.JVM_21
        }
    }

}

application {
    // Define the main class for the application.
    mainClass.set("{{mainClass}}")
}

spotless {
    kotlin {
        ktlint()
    }
}

tasks.withType<Test> {
    useJUnitPlatform()
    testLogging {
        events = setOf(PASSED, FAILED, SKIPPED)
    }
}
