[versions]
jvm = "jvm"
kotlin = "2.4.0"
okhttp = "5.4.0"
gson = "2.14.0"
guava = "33.6.0-jre"
system_rules = "1.19.0"
truth = "1.4.5"
jupiter = "6.1.0"
junit-platform = "6.1.0"
kotlinx_cli = "0.3.6"
slf4j = "2.0.18"
json_path = "3.0.0"
zt_exec = "1.12"
spotless = "8.7.0"
versions = "0.54.0"

[libraries]
kotlin-bom = { module = "org.jetbrains.kotlin:kotlin-bom", version.ref = "kotlin" }
kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }
kotlin-stdlib-jdk8 = { module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8", version.ref = "kotlin" }
kotlin-reflect = { module = "org.jetbrains.kotlin:kotlin-reflect", version.ref = "kotlin" }
kotlin-test-junit = { module = "org.jetbrains.kotlin:kotlin-test-junit", version.ref = "kotlin" }
kotlinx-cli = { module = "org.jetbrains.kotlinx:kotlinx-cli", version.ref = "kotlinx_cli" }

# slf4j
slf4j-api = { group = "org.slf4j", name = "slf4j-api", version.ref = "slf4j" }
slf4j-simple = { group = "org.slf4j", name = "slf4j-simple", version.ref = "slf4j" }

# junit
junit-jupiter-engine = { group = "org.junit.jupiter", name = "junit-jupiter-engine", version.ref = "jupiter" }
junit-jupiter-api = { group = "org.junit.jupiter", name = "junit-jupiter-api", version.ref = "jupiter" }
junit-jupiter-params = { group = "org.junit.jupiter", name = "junit-jupiter-params", version.ref = "jupiter" }
junit-platform-launcher = { group = "org.junit.platform", name = "junit-platform-launcher", version.ref = "junit-platform" }

# google
gson = { group = "com.google.code.gson", name = "gson", version.ref = "gson" }
guava = { group = "com.google.guava", name = "guava", version.ref = "guava" }
truth = { group = "com.google.truth", name = "truth", version.ref = "truth" }

# miscellaneous
okhttp = { group = "com.squareup.okhttp3", name = "okhttp", version.ref = "okhttp" }
system_rules = { group = "com.github.stefanbirkner", name = "system-rules", version.ref = "system_rules" }


[bundles]
junit-jupiter = ["junit-jupiter-api", "junit-jupiter-engine", "junit-jupiter-params"]
slf4j = ["slf4j-api", "slf4j-simple"]

[plugins]
spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }
versions = { id = "com.github.ben-manes.versions", version.ref = "versions" }