package {{groupId}}.{{artifactId}}

{{^noArgs}}
import kotlinx.cli.ArgParser
import kotlinx.cli.ArgType
import kotlinx.cli.default

{{/noArgs}}
fun main(args: Array<String>) {
    {{^noArgs}}
    val parser = ArgParser("example")
    val foo by parser
        .option(ArgType.Boolean, shortName = "f", fullName = "--foo", description = "set foo flag")
        .default(false)
    val bar by parser
        .option(ArgType.String, shortName = "b", fullName = "--bar", description = "set value for bar")
        .default("baz")
    parser.parse(args)

    if (foo) println("Foo is set.")
    println("bar is $bar.")
    {{/noArgs}}
    println("Hello, World!")
}
